
@font-face {
    font-family: outfit;
    src: url("https://fonts.google.com/specimen/Outfit");
}
.card-image{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.card-heading{
    font-size: 23px;
    color:white;
    padding-top: 14px;
    padding-right: 1px;
    font: outfit;
}
.card{
    
    background-color: rgb(10, 33, 53);
    padding: 15px;
    border-radius: 15px;
    
}
.card-des{
    color: rgb(152, 149, 149);
    font-family: outfit;
    margin-top: 20px;
    
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh; 
    background: linear-gradient(to right, hsl(216, 29%, 23%), hsl(228, 80%, 14%));
    

  }
 
  .centered-div{
    text-align: left;
    
  }
  .container-1{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 7px;
  }
  
  .icon-ethirium{
    height: 14px;
    width: 9px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px;
  }
  .icon-des{
    color: rgb(26, 200, 231);
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
    font-style: outfit;
    letter-spacing: -1px;
  }
  .icon-clock{
    display: inline-block;
    vertical-align: middle;
    justify-content: end;
  }
  .icon-des-1{
    color: rgb(158, 153, 153);
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    font-style: outfit;
    letter-spacing: -1px;
    
  }
  .left-content{
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .right-content {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  hr{
  margin-left:10px;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: rgb(97, 96, 96);
  background-color: rgb(102, 103, 104);
  }
  .creator-img{
    height: 3opx;
    width: 30px;
    box-shadow: 0  0 10px rgba(250, 246, 246, 0.5); ;
    border-radius: 30px;
    margin-left: 10px;
 }
 .creator-des{
  color: rgb(159, 159, 160);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 14px;
 }
 .highe{
  color: rgb(210, 229, 229);
 }